
.textarea {
  /*background-color: #D4DED3;*/
  /*color: Snow;*/
}

.searchbox {
  width: 500px;
  /*background-color: #D4DED3;*/
  /*border-color: gray;*/
  /*color: #2a9fd6;*/
}

.searchbox-input {
  width: 330px;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  /*border-bottom-right-radius: 5px !important;*/
  /*border-top-right-radius: 5px !important;*/
  }

.custom-solve-box {
  width: 523px;
}
.ticket-comments {
  /*max-height: 800px;*/
  overflow: auto;
  margin-bottom: 50px;
  word-wrap: break-word;
}

.private-comment {
    background-color: #D4DED3;
}

.public-agent-comment {
    background-color: #E1FFDE;
}

.active-nav {
  background: rgba(8, 8, 8, .4) !important;
}

.ticket {
  display: none;
}