 Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*^^ jumbotron-narrow*/

.textarea {
  /*background-color: #D4DED3;*/
  /*color: Snow;*/
}

.searchbox {
  width: 500px;
  /*background-color: #D4DED3;*/
  /*border-color: gray;*/
  /*color: #2a9fd6;*/
}

.searchbox-input {
  width: 330px;
  border-bottom-left-radius: 5px !important;
  border-top-left-radius: 5px !important;
  /*border-bottom-right-radius: 5px !important;*/
  /*border-top-right-radius: 5px !important;*/
  }

.custom-solve-box {
  width: 523px;
}
.ticket-comments {
  /*max-height: 800px;*/
  overflow: auto;
  margin-bottom: 50px;
  word-wrap: break-word;
}

.private-comment {
    background-color: #D4DED3;
}

.public-agent-comment {
    background-color: #E1FFDE;
}

.bkg-wa {
  background: url('/static/images/whatsapp_bkg.jpg') top left repeat;
}

.active-nav {
  background: rgba(8, 8, 8, .4) !important;
}

.ticket {
  display: none;
}


.bkg-curry {
  background: url('/static/images/spices-bg.png') no-repeat top;
/*  height: 400px;
  z-index: 1;
  width: 100%;*/
}

.shrink {
  font-size: 50px !important;
}

.currytron {
  /*background: url('/static/images/spices-bg.png') no-repeat top;*/
  background-color: #f2f4f7;
  /*color: white;*/
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.btn-curry {
  color: #ffffff;
  background-color: #06ba8f;
  border-color: #06ba8f;
}

/* Sticky footer styles
-------------------------------------------------- */
/*html {
  position: relative;
  min-height: 100%;
}
body {
   Margin bottom by footer height  
  margin-bottom: 60px;
}*/
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/*
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}