
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="http://getbootstrap.com/assets/ico/favicon.ico">

    <title>WhatsPlaying</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/cover/cover.css" rel="stylesheet">

  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">WhatsPlaying</h3>
    <!--               <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
              </ul> -->
            </div>
          </div>

          <div class="inner cover">
            <div class="row">
              <div class="col-md-1 text-right">
                <h3><small>track</small></h3>
              </div>
              <div class="col-md-8 text-left">
                <h3>{{ track }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 text-right">
                <h3><small>by</small></h3>
              </div>
              <div class="col-md-8 text-left">
                <h3>{{ artist }}</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-1 text-right">
                <h3><small>on</small></h3>
              </div>
              <div class="col-md-8 text-left">
                <h3>{{ album }}</h3>
              </div>
            </div>         
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
  </body>
</html>
